<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Blackjack</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>BLACKJACK</h1>
    <div class="dealer-hand"></div>
    <div class="deck"></div>
    <div class="player-hand"></div>
    <div class="buttons">
        <button id="start-game">Start Game</button>
    </div>
</body>
</html>