<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Blackjack</title>
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>BLACKJACK</h1>
    <div class="card-container">
        <div class="hand-container">
            <p>Your Hand</p>
    <div class="player-hand cards">
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
    </div></div>
    <div class="deck">
        <img src="{{url_for('static', filename='img/card_back.png')}}" />
    </div>
    <div class="hand-container">
        <p>Dealer's Hand</p>
    <div class="dealer-hand cards">
        <img src="{{url_for('static', filename='img/ace_of_diamonds.png')}}" />
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
        <img src="{{url_for('static', filename='img/9_of_spades.png')}}" />
    </div></div>
</div>
    <div class="ctrl-container">
    <div class="controls">
    <div class="buttons">
        <button id="start-game">Start Game</button>
    </div>
</div></div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>